.nav, .navlist {
   display: inline-block;
   display:flex; 
   list-style: none;
   background-color: rgb(81, 80, 80) ; 
   justify-content: space-between;
    }

.navlist {
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 25%; 
    font-size: 20px;
}
.navlist a {
    color: azure;
    text-decoration: none;
}
img {
    width:40%;
    height: 100%;
    
}
body {
    background-color: rgb(234, 231, 231);
}

/*nothing */
/*.heroimg {
    display: inline-block;
    display:flex; 
    justify-items:end;
    
}*/

.hero {
    background-image: url(../src/styles/img/backgroundhero.webp);
    height: 60svh;
    background-repeat: no-repeat;
    background-size:auto;
    background-position-x: right;
    
}
h1, h2{
    color: black;
    
}




.protects {
    display:flex; 
    flex-direction: row;
    justify-content: space-evenly;
    height: 60svh;
}
h3{
    text-decoration: center;

}
.reviews{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}

footer {
    display: inline-block;
    display:flex; 
    background-color: rgb(81, 80, 80) ; 
    justify-content: space-between;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
}

  
.footerlist {
    justify-content: space-around;

}