.nav, .navlist {
   display: inline-block;
   display:flex; 
   list-style: none;
   background-color: rgb(81, 80, 80) ; 
   justify-content: space-between;
    }

.navlist {
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 25%; 
    font-size: 20px;
}
.navlist a {
    color: azure;
    text-decoration: none;
}
img {
    width:40%;
    height: 100%;
    
}
body {
    background-color: rgb(234, 231, 231);
}

/*nothing */
/*.heroimg {
    display: inline-block;
    display:flex; 
    justify-items:end;
    
}*/

.hero {
    background:  url(../src/styles/img/backgroundhero.webp);
    height: 90svh; 
    background-repeat: no-repeat;
    background-size:cover;
    background-color: rgb(241, 237, 237);
    margin-top: none ;
   
}

.hero button { 
    width: 890px;
    margin: 35px 50px 1px 210px;
    padding-top: 32px;
}


h1{
    text-align: center;
    font-size: 43px;
    color: rgb(255, 255, 255);
    padding-top: 32px;
}
.hero p{
    text-align: center;
    font-size: 33px;
    color: rgb(255, 255, 255);
}


.hero button{
    position: absolute;
    background-color: rgb(255, 255, 255);
    font-size: 22px;
    
    
  
}



/* button{
    display: inline-block;
    align-content: center;
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color: #6e1919;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    width: 150px;
    transition: all 1s;
    cursor: pointer;
    } */
    




/*.hero button{
    background-color:rgb(231, 229, 229);
    font-size: 20px;
    border: 2px solid #555555;}
    text-align: center;
    */

  



/*.protects{
    display: inline-block;
    justify-content: center;
}*/


/*.protects {
    display: inline-block;
    width: 88; }*/


/*
.protects{
content: center;
justify-content:  space-around;
justify-items: center;
height: 40svh; } */

h2{
    text-align:center; 
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: bold;
   
}
.sections {
    margin-top: 100px;
    margin-bottom: 100px;}

.sections .protects{
display: flex;
flex-direction: row;
justify-content: center;

}


.sections .reviews{
   display: flex;
   justify-content: center;

}

/*.reviews{
    display: inline-block;
    width: 88;
}*/



    /*display: inline-block;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50svh;*/


form:focus {
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border: 3px solid #555;}


footer {
    display: inline-block;
    display:flex; 
    background-color: rgb(81, 80, 80) ; 
    justify-content: space-between;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;

}

  
.footerlist {
    justify-content: space-around;

}